@import 'variaveis.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    color: var(--cor-amarelo);
    background-color: var(--cor-preto);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    font-family: 'Montserrat', sans-serif;
}
main{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 900;
    margin-bottom: 20px;
}
#titulo > svg{
    transform: rotate(-10deg);
    padding: 10px;
}
.text-logo{
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
}
h1{
    font-size: 38px;
}
input{
    color: white;
    padding-left: 10px;
    background-color: var(--cor-preto);
    outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--cor-preto) inset !important;
    -webkit-text-fill-color:  var(--cor-branco) !important;  
  background-color: var(--cor-preto);
}
.campos{
    font-size: 1.5rem;
    width: 100%;
}
.campos > label{
    display: block;
    margin: auto;
    max-width: 330px;
    width: 100%;
}
.campos > label > input{
    background-color: var(--cor-preto);
    border: 3px solid var(--cor-amarelo);
    font-weight: 500;
    border-radius: 15px;
    display: flex;
    width: 100%;

    height: 25px;
    padding: 5px;
}
div{
    padding: 5px;
}
.caixa-marcacao{
    width: 100%;
}
.caixa-marcacao > label{
    display: flex;
    align-items: center;
}
#check{
    border: 3px solid var(--cor-amarelo);
    background-color: rgba(0, 0, 0, 1);
    appearance: none;
    padding: 5px;
    cursor: pointer;
}
#check:checked{
    background-color: var(--cor-amarelo);
}
#lembre{
    padding: 5px;
    cursor: pointer;
}
.rodape {
    text-align: center;
}
.botao-submit{
    font-weight: 700;
    border-radius: var(--border-radius);
    border: 5px solid var(--cor-amarelo);
    color: var(--cor-amarelo);
    background-color: var(--cor-preto);
    font-size: 1.9rem;
    text-align: center;
    width: 210px;
    margin-top: 20px;
    cursor: pointer;
}
.botao-submit:hover{
    color: var(--cor-preto);
    background-color: var(--cor-amarelo);
}
.crie-aqui{
    font-size: 14px;
    padding: 20px; 
}
.crie-aqui > a:hover {
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: var(--cor-amarelo);
    font-weight: 700;
} 
#mensagens{
    display: none;
}
.mensagem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    border-radius: 20px;
    padding: 10px;

    text-align: center;
    font-weight: 500;
}
#erro{
    border: 3px solid crimson;
    color: crimson;
}
#erro > svg{
    fill: crimson;
    stroke: crimson;
    stroke-width: 1;
}
#sucesso{
    border: 3px solid #00541B;
    color: #00541B;
    
}
#sucesso > svg{
    fill: #00541B;
    stroke: #00541B;
    stroke-width: 1;
}