@import 'variaveis.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-preto);
    font-family: 'Montserrat', sans-serif;
}
#cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--cor-amarelo);
}
#lupa{
    width: 16px;
    height: 16px;
    padding: 9px;
}
#lupa:hover{
    fill: var(--cor-preto);
}
#botao-pesquisar{
    background-color: var(--cor-preto);
    
    margin-top: 10px;
    margin-bottom: 10px;

    transform: rotate(90deg);
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
}
#botao-pesquisar:hover{
    background-color: var(--cor-amarelo);
}
#input-pesquisa{
    height: 34px;
    width: 250px;

    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;

    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#cabecalho > #logo-biblioteca{
    transform: rotate(-5deg);
}
#cabecalho > svg{
    cursor: pointer;
}
#menu{
    position: absolute;
    width: 100%; 
}
#nav.active #menu{
    display: flex;
}