#secao-livros{
    color: var(--cor-amarelo);
    font-size: 1.9rem;
}
main > #secao-livros > #container{
    display: flex;
}
#secao{
    display: flex;
    overflow-x: scroll;
}
#secao > .secao-livros{
    display: flex;
    text-align: center;
    margin-right: 5px;
}
img{
    height: 200px;
}
#secao > img{
    
}
h3{
    padding-top: 50px;
}
#container{
    padding-top: 15px;
    border-top: 2px solid var(--cor-amarelo);
}
.btn{
    width: 50px;
    border: 0; 
    background-color: var(--cor-preto);
    cursor: pointer;
}
.btn > svg{
    fill: var(--cor-amarelo);
}
@media (max-width: 700px){
    #conteudo-menu > p{
        font-size: 0.68em;
    }
    #conteudo-menu{
        gap: 3px;
        padding: 2px;
    }
}