#minha-biblioteca:hover{
    border-top: 2px solid var(--cor-preto);
    border-bottom: 2px solid var(--cor-preto);
    font-weight: bold;
}
#minha-biblioteca:hover, #logo-minha-biblioteca:hover{
    stroke: var(--cor-preto);
}
#titulo > a > svg{
    transform: rotate(-5deg);
    padding-right: 5px;
}
#botao-filtro{
    display: flex;
    align-items: center;
    width: 80px;
    height: 40px;
    gap: 3px;

    background-color: var(--cor-amarelo);
    border: 0;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#filtro{
    height: 35px;
    width: 45px;
}
#seta{
    height: 20px;
    width: 20px;
    margin-top: 4px;
}
#pai-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
img{
    height: 370px;
    width: 230px;
    color: white;
}
#pai-card > .card > p{
    color: var(--cor-amarelo);
    width: 230px;
}
@media (max-width: 800px){
    #pai-card{
        grid-template-columns: 1fr;
    }
}